/* Universal box-sizing for all elements */
*,
::after,
::before {
    box-sizing: border-box;
}

/* Keyframes for fading in elements */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for revealing letters */
@keyframes revealLetters {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Styles for the log-in form */
#h2log {
    color: darkcyan;
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-out; /* Fade-in animation */
}

#h1flog {
    color: darkcyan;
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-out; /* Fade-in animation */
}

/* Body styles */
body {
    background-color: #212121; /* Background color */
    background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0.5)); /* Gradient background */
    color: #fff; /* Text color */
    font-family: monospace, serif; /* Font family */
    letter-spacing: 0.05em; /* Letter spacing */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    display: flex; /* Display as flex container */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    height: 100vh; /* Full height of viewport */
}

/* Heading styles */
h2 {
    color: #09ffbd; /* Heading color */
    font-size: 23px; /* Font size */
}

/* Form styles */
form {
    width: 400px; /* Form width */
    padding: 40px; /* Padding */
    background-color: rgba(0, 0, 0, 0.8); /* Background color with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow */
    border-radius: 10px; /* Border radius */
}

/* Label styles */
label {
    display: block; /* Display as block */
    margin-bottom: 8px; /* Margin bottom */
    color: rgb(98, 0, 255); /* Label color */
    animation: fadeIn 1.5s ease-out; /* Fade-in animation */
}

/* Animation for label letters */
.label-with-animation::before {
    content: ""; /* Empty content */
    display: inline-block; /* Display as inline block */
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent wrapping */
    animation: revealLetters 1.5s ease-out forwards; /* Reveal letters animation */
}

/* Animation delay for specific labels */
#usernamelabel::before {
    animation-delay: 0.5s; /* Delay for username label animation */
}

#passwordlabel::before {
    animation-delay: 1.3s; /* Delay for password label animation */
}

/* Input styles */
input {
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    margin-bottom: 16px; /* Margin bottom */
    box-sizing: border-box; /* Box sizing */
}

/* Button styles */
button {
    position: relative; /* Positioning */
    overflow: hidden; /* Hide overflowing content */
    z-index: 1; /* Z-index */
    background: transparent; /* Transparent background */
    outline: none; /* No outline */
    border: 0; /* No border */
    color: #fff; /* Text color */
    letter-spacing: 0.1em; /* Letter spacing */
    font-weight: bold; /* Font weight */
    font-family: monospace; /* Font family */
    font-size: 16px; /* Font size */
    padding: 14px 16px; /* Padding */
    cursor: pointer; /* Cursor pointer */
}

/* Styles for button hover effect */
button:before {
    content: ''; /* Empty content */
    position: absolute; /* Positioning */
    top: 0; /* Top position */
    left: 0; /* Left position */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: rgba(255, 255, 255, 0.2); /* Background color with transparency */
    transform: scaleX(0); /* Scale to 0 initially */
    transform-origin: right; /* Transform origin */
    transition: transform 0.3s ease-in-out; /* Transition */
    z-index: -1; /* Z-index */
}

/* Button hover effect */
button:hover:before {
    transform: scaleX(1); /* Scale to 1 on hover */
    transform-origin: left; /* Transform origin */
}
