/* Define the styles for the profile container */
.profile-container {
    text-align: center;
}

/* Define the styles for the profile content */
.profile-content {
    width: 400px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
}

/* Define the styles for each profile field */
.profile-field {
    margin-bottom: 16px;
}

/* Define the styles for the label of each profile field */
.profile-field label {
    display: block;
    margin-bottom: 8px;
    color: rgb(98, 0, 255);
}

/* Define the styles for the value of each profile field */
.profile-field span {
    display: block;
    color: #09ffbd;
    font-size: 23px;
}

/* Define the styles for the input field of each profile field */
.profile-field input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff;
    border-radius: 5px;
    outline: none;
}

/* Define the styles for the placeholder of each profile field input */
.profile-field input::placeholder {
    color: #fff;
}

/* Define the styles for the profile button */
.profile-button {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
    padding: 14px 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

/* Define the styles for the animation of the profile button */
.profile-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

/* Define the styles for the animation of the profile button hover */
.profile-button:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Define the styles for the home button */
.home-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Define the styles for the home button hover */
.home-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}