/* registercss2.css */

/* Reset box-sizing for all elements */
*,
::after,
::before {
    box-sizing: border-box;
}

/* Define a fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Define a reveal letters animation */
@keyframes revealLetters {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Apply styles to the body */
body {
    background-color: #212121;
    /* Apply a gradient background */
    background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0.5));
    color: #fff; /* Set text color to white */
    font-family: monospace, serif; /* Use a monospace font */
    letter-spacing: 0.05em; /* Add letter-spacing */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make body height equal to viewport height */
}

/* Apply styles to h2 elements */
h2 {
    color: #09ffbd; /* Set h2 text color */
    font-size: 23px; /* Set h2 font size */
}

/* Apply styles to form elements */
form {
    width: 400px; /* Set form width */
    padding: 40px; /* Add padding */
    background-color: rgba(0, 0, 0, 0.8); /* Set background color with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow */
    border-radius: 10px; /* Add border radius */
}

/* Apply styles to label elements */
label {
    display: block; /* Display labels as blocks */
    margin-bottom: 8px; /* Add margin bottom */
    color: rgb(98, 0, 255); /* Set label text color */
    animation: fadeIn 1.5s ease-out; /* Apply fade-in animation */
}

/* Apply styles to labels with animation */
.label-with-animation::before {
    content: ""; /* Add content before labels */
    display: inline-block; /* Display as inline-block */
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent wrapping */
    animation: revealLetters 1.5s ease-out forwards; /* Apply reveal letters animation */
}

/* Apply animation delay to specific labels */
#usernamelabel::before {
    animation-delay: 0.5s;
}

/* Apply animation delay to specific labels */
#firstNamelabel::before {
    animation-delay: 0.7s;
}

/* Apply animation delay to specific labels */
#lastNamelabel::before {
    animation-delay: 0.9s;
}

/* Apply animation delay to specific labels */
#emaillabel::before {
    animation-delay: 1.1s;
}

/* Apply animation delay to specific labels */
#passwordlabel::before {
    animation-delay: 1.3s;
}

/* Apply animation delay to specific labels */
#confirmPasswordlabel::before {
    animation-delay: 1.5s;
}

/* Apply styles to input elements */
input {
    width: 100%; /* Set input width to 100% */
    padding: 10px; /* Add padding */
    margin-bottom: 16px; /* Add margin bottom */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Apply styles to button elements */
button {
    position: relative; /* Set button position to relative */
    overflow: hidden; /* Hide overflowing content */
    z-index: 1; /* Set z-index */
    background: transparent; /* Set background to transparent */
    outline: none; /* Remove outline */
    border: 0; /* Remove border */
    color: #fff; /* Set text color to white */
    letter-spacing: 0.1em; /* Add letter-spacing */
    font-weight: bold; /* Set font weight to bold */
    font-family: monospace; /* Use monospace font */
    font-size: 16px; /* Set font size */
    padding: 14px 16px; /* Add padding */
    cursor: pointer; /* Set cursor to pointer */
}

/* Apply styles to button before pseudo-element */
button:before {
    content: ''; /* Add content */
    position: absolute; /* Set position to absolute */
    top: 0; /* Set top position to 0 */
    left: 0; /* Set left position to 0 */
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    background: rgba(255, 255, 255, 0.2); /* Set background color with transparency */
    transform: scaleX(0); /* Scale horizontally to 0 */
    transform-origin: right; /* Set transform origin to right */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
    z-index: -1; /* Set z-index to -1 */
}

/* Apply styles to button hover before pseudo-element */
button:hover:before {
    transform: scaleX(1); /* Scale horizontally to 1 */
    transform-origin: left; /* Set transform origin to left */
}
